

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.stay-right{
    margin-right:0;
  }

  .example-card {
    max-width: 400px;
  }

.simple{
    border: 1px solid #4C3C1B;
    padding: 5px;
    width: 300px;
    }


    