<h1 class="page-header">Dashboard</h1>
<br>
<br>
<form (submit)="onAddFriendSubmit()" >
    <h3>Add you friend by typing his username here</h3>
    <div class="form-group" >
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control">
    </div>
    <input type="submit" class="btn btn-primary" value="Add Friend">
</form>
<br>
<br>
<br>
<br>

<h3>Friends</h3>
<ul class="list-group">

    <li class="list-group-item" *ngFor="let stat of statistics">
        <h3>Statistics</h3>
        <p>Username: {{ stat.username }}
            <br/> Average Play Time: {{ stat.averagePlayTime }}
            <br/> Games Played: {{ stat.gamesPlayed }}
            <br/> Level: {{ stat.level }}
            <br/>
        </p>
    </li>

    <li class="list-group-item" *ngFor="let friend of friends">

        <p>Username: {{ friend.username }}
            <br/>

        </p>
    </li>

    <br>
    <br>
    <br>
    <br>
    <form (submit)="onAcceptFriendRequest()">
        <li class="list-group-item">
            <h3>Your Friend Requests. Select a friend request to accept</h3>


            <div class="form-group">
                <select [(ngModel)]="selectedFriend" name="selectedFriend">
                    <option *ngFor="let friend of friendRequests">
                        {{friend.username}}
                    </option>
                </select>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </li>
    </form>


</ul>