/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

html
{
    font-size: 100%;

}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.div-right{
    float: right;
}

.section-right{
    width:50%;
	float:right;

}
.section-left{
	width:45%;
	float:left;
	margin-left:10px;
}

.footer { bottom: 0; }

body {overflow-x:hidden;}