<html>
<mat-tab-group>
  <mat-tab label="League Of Legends">
    <h2 class="page-header">Create a Statistic</h2>
    <form (submit)="onCreateStatisticSubmit()">
      <div class="form-group">
        <label>Username</label>
        <input type="text" [(ngModel)]="username" name="username" class="form-control">
      </div>
      <div class="form-group">
        <select [(ngModel)]="game" name="game">
          <option *ngFor="let game of games">
            {{game.name}}
          </option>
        </select>
      </div>

      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </mat-tab>
  <mat-tab label="Runescape">

  </mat-tab>
  <mat-tab label="OldSchool Runescape">
    <mat-list *ngFor="let stat of statistics">
      <div *ngFor="let game of games">
   
          <div *ngIf="validateCertainGameAndStats(game, stat, 'Runescape')">
        
       
      <mat-list-item> Game: {{ game.name }} </mat-list-item>
      <mat-list-item> Average Play Time: {{ stat.averagePlayTime }} </mat-list-item>
      <mat-list-item> Level: {{ stat.level }} </mat-list-item>
      <mat-list-item> Username:{{ stat.username }} </mat-list-item>
   </div>
    
    </div>
    </mat-list>
  </mat-tab>
  <mat-tab label="Overwatch">
      <mat-list *ngFor="let stat of statistics">
          <div *ngFor="let game of games">
       
              <div *ngIf="validateCertainGameAndStats(game, stat, 'Overwatch')">
            
           
          <mat-list-item> Game: {{ game.name }} </mat-list-item>
          <mat-list-item> Average Play Time: {{ stat.averagePlayTime }} </mat-list-item>
          <mat-list-item> Level: {{ stat.level }} </mat-list-item>
          <mat-list-item> Username:{{ stat.username }} </mat-list-item>
       </div>
        
        </div>
        </mat-list>
  </mat-tab>
</mat-tab-group>

</html>