<html>

<mat-tab-group>

  <mat-tab label="League Of Legends">

    <form class="example-container">
      <h2 class="page-header">League of Legends</h2>

      <mat-form-field>
        <input matInput [(ngModel)]="lolUsername" placeholder="Username" name="lolusername" required>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Region" [(ngModel)]="selectedLeagueOfLegendsRegion" name="Region" required>
          <mat-option *ngFor="let region of allLeagueOfLegendRegions" [value]="region">{{region.regionName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button type="submit" [disabled]="!isValid(lolUsername)" (click)="onCreateStatisticSubmit('Leagueoflegends', lolUsername)"
        mat-raised-button color="primary">Create Statistics</button>
    </form>
    <script src="node_modules/chart.js/src/chart.js"></script>
    <div style="display: block">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>


    <mat-list *ngFor="let stat of statistics">
      <div *ngFor="let game of games">
        <div *ngIf="validateCertainGameAndStats(game, stat, 'Leagueoflegends')">

          <div *ngFor="let averageStat of allLeagueOfLegendsAverages">  
            <span >
                <app-stats-card [data]="generateCard(averageStat, '/assets/images/leagueOfLegendsLogo2.png', specificStatistics.Leagueoflegends)"></app-stats-card> 


            </span>
           </div>

          <mat-list-item> Game: {{ game.name }} </mat-list-item>
          <mat-list-item> Average Play Time: {{ stat.averagePlayTime }} </mat-list-item>
          <mat-list-item> Level: {{ stat.level }} </mat-list-item>
          <mat-list-item> Username:{{ stat.username }} </mat-list-item>
        </div>

      </div>
    </mat-list>



  </mat-tab>

  <mat-tab label="Runescape">
    <h2 class="page-header">Runescape</h2>
    <form class="example-container">
      <mat-form-field>
        <input matInput [(ngModel)]="runescapeUsername" name="runescapeUsername" placeholder="Username" required>
      </mat-form-field>

      <button type="submit" [disabled]="!isValid(runescapeUsername)" (click)="onCreateStatisticSubmit('Runescape', runescapeUsername)"
        mat-raised-button color="primary">Create Statistics</button>
    </form>
    <mat-list *ngFor="let stat of statistics">
      <div *ngFor="let game of games">

        <div *ngIf="validateCertainGameAndStats(game, stat, 'Runescape')">

            <div *ngFor="let averageStat of allRunescapeAverages">  
                <span >
                    <app-stats-card [data]="generateCard(averageStat, '/assets/images/runescapeLogo.png', specificStatistics.Runescape)"></app-stats-card> 

  
                </span>
               </div>

          <mat-list-item> Game: {{ game.name }} </mat-list-item>
          <mat-list-item> Average Play Time: {{ stat.averagePlayTime }} </mat-list-item>
          <mat-list-item> Level: {{ stat.level }} </mat-list-item>
          <mat-list-item> Username:{{ stat.username }} </mat-list-item>
        </div>

      </div>
    </mat-list>
  </mat-tab>

  <mat-tab label="OldSchool Runescape">

    <h2 class="page-header">Oldschool Runescape</h2>
    <form class="example-container">
      <mat-form-field>
        <input matInput [(ngModel)]="oldRunescapeUsername" name="oldRunescapeUsername" placeholder="Username" required>
      </mat-form-field>

      <button type="submit" [disabled]="!isValid(oldRunescapeUsername)" (click)="onCreateStatisticSubmit('Oldschool Runescape', oldRunescapeUsername)"
        mat-raised-button color="primary">Create Statistics</button>
    </form>
    <mat-list *ngFor="let stat of statistics">
      <div *ngFor="let game of games">

        <div *ngIf="validateCertainGameAndStats(game, stat, 'Oldschool Runescape')">

            <div *ngFor="let averageStat of allOldSchoolRunescapeAverages">  
                <span >
                 
                   <app-stats-card [data]="generateCard(averageStat, '/assets/images/oldschoolRunescapeLogo.jpg', specificStatistics.OldschoolRunescape)"></app-stats-card> 
                </span>
               </div>


          <mat-list-item> Game: {{ game.name }} </mat-list-item>
          <mat-list-item> Average Play Time: {{ stat.averagePlayTime }} </mat-list-item>
          <mat-list-item> Level: {{ stat.level }} </mat-list-item>
          <mat-list-item> Username:{{ stat.username }} </mat-list-item>
        </div>

      </div>
    </mat-list>
  </mat-tab>

  <mat-tab label="Overwatch">

    <h2 class="page-header">Overwatch</h2>
    <form class="example-container">
      <mat-form-field>
        <input matInput [(ngModel)]="overwatchUsername" name="overwatchUsername" placeholder="Username" required>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Region" [(ngModel)]="selectedOverwatchRegion" name="Region" required>
          <mat-option *ngFor="let region of allOverwatchRegions" [value]="region">{{region}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Platform" [(ngModel)]="selectedOverwatchPlatform" name="Platform" required>
          <mat-option *ngFor="let platform of allOverwatchPlatforms" [value]="platform">{{platform}}</mat-option>
        </mat-select>
      </mat-form-field>


      <div *ngIf="selectedOverwatchPlatform == 'PC'">
        <mat-form-field>
          <input matInput [(ngModel)]="overwatchBattleTag" name="overwatchBattleTag" placeholder="BattleTag Number">
        </mat-form-field>
      </div>

      <button type="submit" [disabled]="!isValid(overwatchUsername)" (click)="onCreateStatisticSubmit('Overwatch', overwatchUsername)"
        mat-raised-button color="primary">Create Statistics</button>
    </form>
    <!-- <div *ngFor="let averageStat of averageStats">
    <app-stats-card [data]='generateCard(averageStat,"/assets/images/overwatchLogo.jpg")'></app-stats-card>
    </div> -->
    <!-- <div>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button (click)="update()">Update</button>
    </div> -->
  
  
     
 

      
    <mat-list *ngFor="let stat of statistics">
      <div *ngFor="let game of games">

        <div *ngIf="validateCertainGameAndStats(game, stat, 'Overwatch')">

            <div *ngFor="let averageStat of allOverwatchAverages">  
                <span >
                   <app-stats-card [data]="generateCard(averageStat, '/assets/images/overwatchLogo.jpg', specificStatistics.Overwatch)"></app-stats-card> 
                </span>
               </div>
           

          <mat-list-item> Game: {{ game.name }} </mat-list-item>
          <mat-list-item> Rank: {{ stat.detailGameData.profile.ranking }} </mat-list-item>
          <mat-list-item> Best Kill Streak: {{ stat.detailGameData.quickplay.global.kill_streak_best }} </mat-list-item>
          <mat-list-item> Level: {{ stat.level }} </mat-list-item>
          <mat-list-item> Username:{{ stat.username }} </mat-list-item>
        </div>

      </div>
    </mat-list>

  </mat-tab>
  <mat-tab label="World of Warcraft">

    <form class="example-container">

      <mat-form-field>
        <input matInput [(ngModel)]="wowUsername" name="wowUsername" placeholder="Username" required>
      </mat-form-field>


      <mat-form-field>
        <mat-select placeholder="Realm" [(ngModel)]="selectedWoWRealm" name="Realm" required>
          <mat-option *ngFor="let realm of allWoWRealms" [value]="realm">{{realm}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Region" [(ngModel)]="selectedWoWRegion" name="Region" required>
          <mat-option *ngFor="let region of allWoWRegions" [value]="region">{{region}}</mat-option>
        </mat-select>
      </mat-form-field>


      <button type="submit" [disabled]="!isValid(wowUsername) || selectedWoWRealm == undefined || selectedWoWRegion == undefined "
        (click)="onCreateStatisticSubmit('World of Warcraft', wowUsername)" mat-raised-button color="primary">Create World of Warcraft Statistics</button>
    </form>

    <mat-list *ngFor="let stat of statistics">
      <div *ngFor="let game of games">

        <div *ngIf="validateCertainGameAndStats(game, stat, 'World of Warcraft')">

            <div *ngFor="let averageStat of allWorldOfWarcraftAverages">  
                <span >
                 
                   <app-stats-card [data]="generateCard(averageStat, '/assets/images/World-of-WarcraftLogo.png', specificStatistics.WorldofWarcraft)"></app-stats-card> 
                </span>
               </div>

          <mat-list-item> Game: {{ game.name }} </mat-list-item>
          <mat-list-item> Average Play Time: {{ stat.averagePlayTime }} </mat-list-item>
          <mat-list-item> Level: {{ stat.level }} </mat-list-item>
          <mat-list-item> Username:{{ stat.username }} </mat-list-item>
        </div>

      </div>
    </mat-list>

  </mat-tab>
</mat-tab-group>

</html>