<div *ngIf="user" class="main-content">
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/" class="btn btn-link">
                <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
            </a>
        </div>
        <!-- <div class="col-md-6">
        <div class="btn-group pull-middle">
                <i class="fa fa-user-o" aria-hidden="true"> {{viewingUser.username}}'s Profile</i>
        </div>
      </div> -->

        <div class="col-md-6">
            <div class="btn-group pull-right">
                <div *ngIf="viewingUserIsLoggedIn && !editProfile">
                    <button type="submit" (click)="toggleEditTrue()" mat-raised-button color="primary">Edit Profile</button>
                </div>
                <div *ngIf="viewingUserIsLoggedIn && editProfile">
                        <button type="submit" (click)="editUser()" mat-raised-button color="primary">Confirm Changes</button>
                        <button type="submit" (click)="toggleEditFalse()" mat-raised-button color="primary">Cancel Changes</button>
                    </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="cold-md-8 col-sm-4">
                    <img style="max-height: 100%; max-width: 100%;" class="img-fluid" [src]="viewingUser.profilePicture" alt="">
                </div>
                <div class="cold-md-8 col-sm-8">
                    <div *ngIf="editProfile">
                        <mat-form-field class="full-width">
                            <textarea matInput [(ngModel)]="bio" name="bio" placeholder="Bio: " matTextareaAutosize></textarea>

                        </mat-form-field>
                        <br>
                        <mat-form-field class="full-width">
                            <input matInput [(ngModel)]="favouriteGame" name="favouriteGame" placeholder="Favourite Game: " size="100">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="full-width">
                                <!-- <label>
                                        Date
                                        <input  matInput [(ngModel)]="gamingSince" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
                                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                    </label> -->

                            <input matInput [matDatepicker]="picker" placeholder="Gaming Since: " [(ngModel)]="gamingSince">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <h4>Pick a profile Picture</h4>
                        <div class="cc-selector">
                            <input id="leagueOfLegends" type="radio" name="logo" [(ngModel)]="myLogo" value="leagueOfLegends" />
                            <label class="drinkcard-cc leagueOfLegends" for="leagueOfLegends"></label>
                            <input id="overwatch" type="radio" name="logo" [(ngModel)]="myLogo" value="overwatch" />
                            <label class="drinkcard-cc overwatch" for="overwatch"></label>
                            <input id="runescape" type="radio" name="logo" [(ngModel)]="myLogo" value="runescape" />
                            <label class="drinkcard-cc runescape" for="runescape"></label>
                            <input id="oldschoolRunescape" type="radio" name="logo" [(ngModel)]="myLogo" value="oldschoolRunescape" />
                            <label class="drinkcard-cc oldschoolRunescape" for="oldschoolRunescape"></label>
                            <input id="worldOfWarcraft" type="radio" name="logo" [(ngModel)]="myLogo" value="worldOfWarcraft" />
                            <label class="drinkcard-cc worldOfWarcraft" for="worldOfWarcraft"></label>
                        </div>

                        <br>
                    </div>
                    <div *ngIf="editProfile==false">
                        <ul class="list-group">
                            <li class="list-group-item">Bio: {{viewingUser.bio}}</li>
                            <li class="list-group-item">Favourite Game: {{viewingUser.favouriteGame}}</li>
                            <li class="list-group-item">Gamer Since: {{viewingUser.gamingSince}}</li>
                        </ul>

                    </div>
                </div>

            </div>

            <hr>

        </div>
    </div>
</div>
<!-- <div *ngIf="user" class="main-content">
<h3> {{viewingUser.username}} Profile</h3>
        <mat-grid-list cols="6" rowHeight="100px">

                <mat-grid-tile [colspan]="2" [rowspan]="3">
                        <img *ngIf="user.profilePicture" class="img-fluid" [src]="user.profilePicture" alt="">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="4" [rowspan]="3">
                        <div *ngIf="editProfile">
                                <mat-form-field>
                                        <textarea matInput [(ngModel)]="bio" name="bio" placeholder="Bio: "></textarea>
                                       
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                                        <input matInput [(ngModel)]="favouriteGame" name="favouriteGame" placeholder="Favourite Game: ">
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                            
                                        <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Gaming Since: " [(ngModel)]="gamingSince">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <br>
                                    <button type="submit" (click)="editUser()" mat-raised-button color="primary">Confirm Changes</button>
                                    <button type="submit" (click)="toggleEditFalse()" mat-raised-button color="primary">Cancel Changes</button>
                             </div>
                             <div *ngIf="editProfile==false">
                                    <ul class="list-group">
                                            <li class="list-group-item">Bio: {{viewingUser.bio}}</li>
                                            <li class="list-group-item">Favourite Game: {{viewingUser.favouriteGame}}</li>
                                            <li class="list-group-item">Gamer Since: {{viewingUser.gamingSince}}</li>
                                          </ul>
                                          <div *ngIf=viewingUserIsLoggedIn>
                                 <button type="submit" (click)="toggleEditTrue()" mat-raised-button color="primary">Edit Profile</button>
                                </div>
                                </div>
                </mat-grid-tile>
                
                
           
              </mat-grid-list> -->









<h3>Favourite Stats</h3>
<div *ngFor="let cardData of allCardDataForUser">
    <app-stats-card [data]=cardData></app-stats-card>
</div>

<div class="container">
    <section class="panel panel-info">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            <div class="row">
                <div  *ngIf="UrlLoaded; else loading;" class="cold-md-8 col-sm-4" >
                    <div *ngIf=editProfile>
                            <h3>Your Favourite Clip</h3>
                    <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="youtubeClipURL" name="youtubeClipURL" placeholder="Favourite Clip URL: " size="100">
                    </mat-form-field>
                  </div>
                  <div *ngIf=!editProfile>
                    <h3>Your Favourite Clip</h3>
                  </div>
              
                <youtube-player [videoId]="youtubeUrlId" (ready)="savePlayer($event)" (change)="onStateChange($event)">
                </youtube-player>
            </div>
            </div>


        </div>
    </section>


</div>

<ng-template #loading>
        <div class="text-center">
            <i class="fa fa-spin fa-spinner fa-5x"></i>
            <br> Loading events...
        </div>
    </ng-template>


<!-- <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats" >
                            <div class="card-header" data-background-color="orange">
                                <i class="material-icons text-danger">content_copy</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Used Space</p>
                                <h3 class="title">49/50<small>GB</small></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                                </div>
                            </div>
                        </div>
                    </div> -->

<!-- <div class="row">
                        <div class="col-md-4">
                            <div class="card" >
                                <div class="card-header card-chart" data-background-color="green">
                                    <div class="ct-chart" id="dailySalesChart"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Daily Sales</h4>
                                    <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">access_time</i> updated 4 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div> -->
<!-- </div> -->