<html>
  <header>
   
    
   
  </header>
  <body>

      <div class="jumbotron text-center">
          <h1>Rift</h1>
          <img style="max-height: 100%; max-width: 100%;" class="img-fluid" href="assets/images/Rift_profile_logo.png" alt="">
          <p class="lead">Welcome to The Rift </p>
          <div> 
            <a mat-raised-button color="primary" [routerLink]= "['/register']">Register</a>
             <a mat-raised-button color="primary" [routerLink]="['/login']">Login</a>
          </div>
        </div>
        
<div class="row">
  <div class="col-md-4">
    <h3>Add Friends</h3>
    <p>Meet new people!</p>
  </div>

  <div class="col-md-4">
    <h3>Statistics</h3>
    <p>Store your data about the games you love</p>
  </div>

  <div class="col-md-4">
    <h3>Create Events</h3>
    <p>Invite all your friends and play games together!</p>
  </div>
</div>
</body>
</html>

